<ng-container *ngIf="contents$ | async as contents">
  <!-- {{ content[0].fields?.description?.content[0].content[0].value | json }} -->
  <div class="alert alert-info" *ngFor="let content of contents">
    <!-- <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
        <div class="p-2">
          <a href="{{ article.fields.url }}" target="_blank"
            ><img src="{{ article.fields.bannerImage.fields.file.url }}" alt=""
          /></a>
        </div>
        <div class="p-2">
          <h5 class="alert-heading">
            <a href="{{ article.fields.url }}" target="_blank">{{
              article.fields.title
            }}</a>
          </h5>
          <p>{{ article.fields.summary }}</p>
          <p>{{ article.fields.description?.content[0].content[0].value }}</p>
          <a
            href="{{ article.fields.url }}"
            target="_blank"
            class="btn btn-success"
            >Go to Article</a
          >
          <button class="btn btn-info" (click)="goToArticlePage(article.sys.id)">
            Article Details
          </button>
        </div>
      </div> -->

    <div
      class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
    >
      <div class="md:flex">
        <div class="md:flex-shrink-0">
          <img
            class="h-48 w-full object-cover md:w-48"
            src="{{ content.fields?.bannerImage?.fields?.file.url }}"
            alt="Man looking at item at a store"
          />
          <!-- <ng-container *ngIf="images$ | async as images">
            <img
              class="h-48 w-full object-cover md:w-48"
              src="{{ images?.items[0]?.fields?.file.url }}"
              alt="Man looking at item at a store"
            />
          </ng-container> -->
        </div>
        <div class="p-8">
          <div
            class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
          >
            Case study
          </div>
          <a
            href="#"
            class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"
            >Finding customers for your new business</a
          >
          <p class="mt-2 text-gray-500">
            {{ content.fields?.description?.content[0].content[0].value }}
          </p>
          <button
            (click)="getImage(images)"
            class="py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75"
          >
            Click me
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
