<ng-container *ngIf="contactForm$ | async as form">
  <div class="mb-5">
    <ng-container *ngIf="form.fields?.formDefinition as formDefinition">
      <form
        [formGroup]="this[formDefinition.formCode]"
        (ngSubmit)="submitForm()"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            [placeholder]="formDefinition.fieldConfigs[0]?.label.en + ' *'"
            formControlName="{{ formDefinition.fieldConfigs[0]?.name }}"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="tel"
            [placeholder]="formDefinition.fieldConfigs[1]?.label.en"
            formControlName="{{ formDefinition.fieldConfigs[1]?.name }}"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="email"
            [placeholder]="formDefinition.fieldConfigs[2]?.label.en + ' *'"
            formControlName="{{ formDefinition.fieldConfigs[2]?.name }}"
          />
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            rows="4"
            [placeholder]="formDefinition.fieldConfigs[3]?.label.en + ' *'"
            formControlName="{{ formDefinition.fieldConfigs[3]?.name }}"
          ></textarea>
        </div>
        <button
          type="submit"
          [disabled]="!contactForm.valid || sending"
          class="col-12 site-btn"
        >
          Submit
        </button>
      </form>
    </ng-container>
    <ng-container *ngIf="emailSent">
      <h5 class="position-absolute mt-3">Mail sent successfully!</h5>
    </ng-container>
  </div>
</ng-container>
