<div class="mb-5">
  <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="">* Your Name:</label
      ><input class="form-control" type="text" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="">Your Telephone Number:</label
      ><input class="form-control" type="tel" formControlName="phone" />
    </div>
    <div class="form-group">
      <label for="">* Your E-mail Address:</label
      ><input class="form-control" type="email" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="">* Your Message:</label
      ><textarea
        class="form-control"
        rows="4"
        formControlName="message"
      ></textarea>
    </div>
    <button type="submit" class="col-12 site-btn mt-4">Submit</button>
  </form>
</div>
<!-- <form class="formGroup" [formGroup]="defaultForm">
  <div class="control-wrapper">
    <label>Destination:</label>
    <select formControlName="destination" required>
      <option selected value="">Please select</option>
      <option
        *ngFor="let destination of destinations"
        value="{{ destination }}"
        >{{ destination }}</option
      >
    </select>
  </div>
  <div class="control-wrapper">
    <label>Start Date:</label>
    <input type="date" formControlName="startDate" required />
  </div>
  <div class="control-wrapper">
    <label>End Date:</label>
    <input type="date" formControlName="endDate" required />
  </div>
  <div class="control-wrapper">
    <label>Duration in days:</label>
    <input type="number" formControlName="durationInDays" required />
  </div>
  <div class="control-wrapper">
    <label>Trip Cost:</label>
    <input type="number" formControlName="tripCost" required />
  </div>
  <div
    formArrayName="otherTravelers"
    *ngFor="let traveler of formArr.controls; let i = index"
  >
    <div class="control-wrapper" [formGroupName]="i">
      <label>Additional traveler Age:</label>
      <input type="number" formControlName="ageOfTraveler" required />
    </div>
  </div>
</form>
<button (click)="onSubmit()" [disabled]="!defaultForm.valid">Submit</button> -->
