<ng-container *ngIf="contents$ | async as contentsData">
  <ng-container *ngIf="contentsData.fields as contents">
    <section
      class="spad"
      [id]="sectionClassName"
      [ngClass]="sectionClassName"
      [ngStyle]="
        contents.backgroundImage?.fields?.file?.url
          ? {
              'background-image':
                'url(' + contents.backgroundImage?.fields?.file?.url + ')'
            }
          : null
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-title">
              <app-heading
                [headingId]="contents.heading?.sys?.id"
              ></app-heading>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let content of contents.items" [ngClass]="classCol">
            <div [ngClass]="sectionClassName + '__item'">
              <div
                *ngIf="content.fields?.fontIcon"
                [ngClass]="sectionClassName + '__item__icon'"
              >
                <span [ngClass]="content.fields?.fontIcon"></span>
              </div>
              <div
                *ngIf="content.fields?.richContent as richContent"
                [ngClass]="sectionClassName + '__item__text'"
                [innerHTML]="richContent | parseInnerHTML"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
