<app-header></app-header>
<app-banner [bannerId]="'3C9CxbG4zscYzwdxQoYMVr'"></app-banner>
<app-contact [componentId]="'4y87ehZmC3ec05EgWoaYiV'"></app-contact>
<app-page-list
  [sectionClassName]="'chooseus'"
  [classCol]="'col-lg-3 col-sm-6 col-12'"
  [contentId]="'1PSFOtMsAhWLq85yrU6aHb'"
></app-page-list>
<app-page-list
  [sectionClassName]="'services'"
  [classCol]="'col-sm-6 col-12'"
  [contentId]="'7GBMGRMv5ziPD9IVwDRS8Z'"
></app-page-list>
<app-page-list
  [sectionClassName]="'team'"
  [classCol]="'col-sm-4 col-12'"
  [contentId]="'65a7cyArTQTbaSLfVC9JbQ'"
></app-page-list>
<app-gallery [contentId]="'66YN407bHp62bQiWiUTWYs'"></app-gallery>
<app-footer></app-footer>
